
body{
  background: url('../../../public/static/img/background.png') no-repeat;  
  background: -webkit-image-set( url('../../../public/static/img/background.png') 1x, url('../../../public/static/img/background@2x.png') 2x, url('../../../public/static/img/background@3x.png') 3x );
  background-attachment: fixed;
  background-size: cover;
  overflow-x: hidden;
  width: 100vw;  
}
  .p-title{
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;  
    z-index: 2;       
    height: 80vh;
    line-height: 10vh;
    font-family: Rock_Salt; 
    font-size: 8vh;
    text-align: center;
  }
  .p-subtitle{
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;  
    height: 60vh;
    line-height: 10vh;
    font-family: Caveat_Regular; 
    font-size: 5vh;
    text-align: center;
    z-index: 2;   
  }  
  
  .btn-enter:hover{
    background-color: #30867e; 
  }
 

.btn-enter:hover { 
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  transition: all 0.4s ease 0s;
  }

 

@media (min-width:320px)  { /* smartphones, iPhone, portrait 480x320 phones */ 
  .img-journey{
    width:calc(30vw*3); 
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
    z-index: 1;     
    }    
    .btn-enter{
      display: inline-block;
      position: absolute;
      top:75vh;    
      left: 50%;
      transform: translateX(-50%);
      bottom:0;
      margin:auto;  
      text-align: center;
      width:32px;
      z-index: 2;   
      background: #3CAEA3; 
      height:5vh;  
      width:20vh;
      border-radius: 4px; 
      font-family: Inter-Bold; 
      font-size: 3.0vh;   
      color: #FFFFFF; 
      letter-spacing: 0;     
    }  
    .p-footer{
      position: absolute;
      top:60vh;
      left:0;
      right:0;
      bottom:0;
      margin:auto;  
      text-align: center;
      line-height: 10vh;
      font-family: Caveat_Bold; 
      font-size: 3.6vh;        
      z-index: 2;   
    } 
}
@media (min-width:481px)  { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ 
  .img-journey{
    width:472px; 
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
    z-index: 1;     
    }    
    .btn-enter{
      display: inline-block;
      position: absolute;
      top:65vh;    
      left: 50%;
      transform: translateX(-50%);
      bottom:0;
      margin:auto;  
      text-align: center;
      width:32px;
      z-index: 2;   
      background: #3CAEA3; 
      height:5vh;  
      width:20vh;
      border-radius: 4px; 
      font-family: Inter-Bold; 
      font-size: 3.0vh;   
      color: #FFFFFF; 
      letter-spacing: 0;     
    }  
    .p-footer{
      position: absolute;
      top:65vh;
      left:0;
      right:0;
      bottom:0;
      margin:auto;  
      text-align: center;
      line-height: 10vh;
      font-family: Caveat_Bold; 
      font-size: 3.6vh;        
      z-index: 2;   
    } 
}
@media (min-width:641px)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ 
  .img-journey{
    width:550px; 
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
    z-index: 1;     
    }    
}
@media (min-width:961px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */   
}
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */     
}
@media (min-width:1281px) { /* hi-res laptops and desktops */     
}
